* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Helvetica Neue";
  font-size: 20px; }

.chat-container {
  height: 100%;
  width: 100%;
  overflow: scroll; }

#formContainer {
  z-index: 5; }

form {
  background: crimson;
  padding: 2.2px;
  position: fixed;
  bottom: 0;
  width: 100%; }

form input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: .5%; }

form button {
  width: 9%;
  background: crimson;
  border: none;
  padding: 10px; }

br {
  clear: both; }

#messages {
  list-style-type: none;
  margin: 2px;
  padding: 5px; }

#messages li:nth-child(odd) {
  background: #efefef;
  position: relative;
  padding: 10px 20px;
  color: white;
  font-weight: 900;
  background: #0B93F6;
  border-radius: 25px;
  float: right;
  margin-bottom: 40px;
  margin-left: 30px;
  margin-top: 10px; }
  #messages li:nth-child(odd):before {
    content: "";
    position: absolute;
    bottom: -2px;
    right: -7px;
    height: 20px;
    border-right: 20px solid #0B93F6;
    border-bottom-left-radius: 16px 14px;
    -webkit-transform: translate(0, -2px); }
  #messages li:nth-child(odd):after {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: -2px;
    right: -56px;
    width: 26px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 10px;
    -webkit-transform: translate(-30px, -2px); }

#messages li:nth-child(even) {
  background: black;
  position: relative;
  padding: 10px 20px;
  background: #E5E5EA;
  border-radius: 25px;
  color: black;
  float: left;
  margin-bottom: 40px;
  margin-right: 30px;
  margin-top: 10px; }
  #messages li:nth-child(even):before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -7px;
    height: 20px;
    border-left: 20px solid #E5E5EA;
    border-bottom-right-radius: 16px 14px;
    -webkit-transform: translate(0, -2px); }
  #messages li:nth-child(even):after {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: -2px;
    left: 4px;
    width: 26px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
    -webkit-transform: translate(-30px, -2px); }
